describe '<%= module_name %> directive: <%= object_name %>', ->
  beforeEach module '<%= module_name %>'

  beforeEach inject ($compile, $rootScope) ->
    @compile = $compile
    @scope = $rootScope
    @elem = @compile('<div <%= tag_name %>></div>')(@scope)
    @scope.$digest()
